/*----universal----*/
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    
}

/*----header----*/
header {
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 50px;
    width: 1920px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 190px;
    padding-top: 40px;
    padding-right: 150px;
    padding-bottom: 100px;


}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-weight: 500;
    font-size: 18px;
}

.nav-text {
    font-weight: 700;
    font-size: 35px;

}

.header-text h2 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    width: 450px;
    margin-left: 530px;
    margin-bottom: 30px;
}

.header-text p {
    text-align: center;
    width: 860px;
    margin-left: 400px;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.btn-primary {
    margin-left: 650px;
    margin-bottom: 50px;
    height: 64px;
    border: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
}

.header-img img {
    margin-left: 210px;
    width: 1100px;
    height: 400px;
    margin-bottom: 30px;

}

/*----body----*/
/*----section-1----*/
.team-work {
    display: flex;
    margin-bottom: 220px;
}

.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 300px;
    width: 342px;
    height: 342px;
    border-radius: 8px;
    gap: 20px;

}

.team img {
    width: 242px;
    height: 242px;

}

.team-title {
    padding-left: 210px;
    padding-top: 110px;
    width: 468px;
    height: 106px;
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 20px;
    color: #727272;
}

.black {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.features {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.team-description {
    padding-left: 210px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #727272
}

.btn-secondary {
    height: 64px;
    border: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
    margin-left: 210px;
}

/*----section-2----*/
.paison {
    display: flex;
    margin: 130px 240px;
}

.paison-title-1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 22px;
    width: 468px;
}

.paison-description-1 {
    font-weight: 400;
    font-size: 16px;
    width: 586px;
    color: #727272;
    margin-bottom: 30px;
}

.article-2,
.article-3,
.article-4,
.article-5 {
    width: 586px;

    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    margin-right: 100px;
}

.paison-div-1,
.paison-div-2,
.paison-div-3,
.paison-div-4,
.paison-div-5 {
    padding: 30px;
}

.paison-title-2,
.paison-title-3,
.paison-title-4,
.paison-title-5 {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}

.paison-description-2,
.paison-description-3,
.paison-description-4,
.paison-description-5 {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.btn-third {
    background: #FF900E;
    border-radius: 8px;
    width: 250px;
    height: 150px;
    font-weight: 400;
    font-size: 45px;
    padding-left: 10px;
    padding-right: 12px;
    padding-top: 10px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    
}

.btn-third-chg {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    
}

.paison-img {
    width: 500px;
    height: 800px;
    border-radius: 8px;
}

/*----section-3----*/
.icon-title {
    font-weight: 700;
    font-size: 45px;
    margin-left: 200px;
    color: #131313;
    margin-bottom: 18px;
}

.icon-description {
    font-weight: 400;
    font-size: 16px;
    margin-left: 200px;
    color: #727272;
    width: 542px;
    margin-bottom: 100px;
}

.icons {
    display: flex;
    margin-left: 230px;
    text-align: center;

}

.icons-div-1,
.icons-div-2,
.icons-div-3,
.icons-div-4 {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 120.83px;
    height: 120px;
    padding: 50px 35px;
    margin-right: 127px;
    margin-bottom: 150px;
}

/*----section-4----*/
.sponsors-title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-bottom: 25px;
}

.sponsors-description {
    font-weight: 400;
    font-size: 16px;
    width: 542px;
    color: #727272;
    text-align: center;
    margin-left: 490px;
    margin-bottom: 50px;

}

.sponsors {
    display: flex;
    margin-left: 200px;
    padding-right: 200px;
}

.sponsors-div-1,
.sponsors-div-2,
.sponsors-div-3,
.sponsors-div-4,
.sponsors-div-5 {
    margin-right: 80px;

}
/*----section-5----*/
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-left: 200px;
    width: 830px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    color: #181818;
    font-weight: 700;
    font-size: 35px;

}

.section-description {
    color: #757575;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.title-info {
    color: #757575;
    font-size: 20px;
}

.title-description {
    font-weight: 400;
    color: #474747;
    font-size: 20px;
}

/*----footer part----*/
.footer {
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
    margin: 130px 210px;
}

.footer-title {
    padding: 30px 200px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}
@media screen and (max-width:576px) {
    /*----header part----*/
    nav{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 30px;
        padding-left: 0px;
    }
    nav li{
        font-size: 45px;
        margin: left 0;
        
    }
    .header-text h2{
        margin-left:0px;
        width: 550px;
        text-align: left;
    }
    .header-text p{
        font-size: 45px;
        margin-left:0px;
        width: 1200px;
        text-align: left;
    }
    .btn-primary{
        width: 300px;
        margin-left: 0;
        font-size: 25px;
    }
    .header-img img{
        margin-left: 0;
    }
    
    /*----body part----*/
    /*----section-1----*/
    .team {
        display: inline;
        padding-left: 0;
        padding-bottom: 600px;
    }
    .team-work{
        display: grid;
        grid-template-columns: repeat(1,fr)
    }
    .team-title {
        padding-left: 0;
    }
    .team-description{
        padding-left: 0;
        font-size: 45px;
    }
    .btn-secondary{
        margin-left: 0;
    }
    /*----section-2----*/
    .paison{
        flex-direction: column;
        margin-left: 0;
    }
    .paison-description-1{
        font-size: 45px;
    }
    /*----section-3----*/
    .icon-title{
        margin-left: 0;
    }
    .icon-description{
        margin-left: 0;
        font-size: 45px;
    }
    .icons{
        flex-direction: column;
        margin-left: 0;
    }
    /*----section-4----*/
    .sponsors-description{
        margin-left: 0;
        font-size: 45px;
        text-align: left;
    }
    .sponsors{
        flex-direction: column;
        margin-left: 0;
        gap: 20px;

    }
    /*----section-5----*/
    .about{
        margin-left: 0;
    }
    .footer{
        margin-left: 0;
        width: 1000px;
        font-size: 75px;
    }
}